$white: #fff;
$anti-flash-white: #f1f2f6;
$city-lights: #dfe4ea;
$twinkle-blue: #ced6e0;
$athens-gray: #e8e8ea;

$prestige-blue: #2f3542;
$grisaille: #57606f;
$bay-wharf: #747d8c;

$saturated-sky: #5352ed;
$cornflower-blue: #7070e9;

$ufo-green: #2ed573;